.App{
    display:inline-block;
    display:flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    margin-top:70px ;
    gap: 50px;
    
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}